<header class="header">
  <!-- Logo with a link to the homepage -->
  <a href="/" class="header__logo">Byte-Bite</a>

  <!-- Navigation menu -->
  <nav class="header__nav">
    <ul>
      <!-- Home link -->
      <li>
        <a href="/" class="">Home</a>
      </li>
      <!-- About link -->
      <li>
        <a href="/about" class="">About</a>
      </li>
    </ul>
  </nav>

  <!-- Logout button -->
  <div class="header__button">
    <a href="/logout"> Logout </a>
  </div>
</header>
