<div class="searchBar">
  <!-- Container to hold the search bar -->
  <div class="container">
    <!-- Form for the search functionality -->
    <form action="/search" method="POST" class="search__form" role="search">
      <!-- Input field for searching with aria-label for accessibility -->
      <input type="search" aria-label="Search" id="searchInput" name="searchTerm" placeholder="Search the site..." />
    </form>

    <!-- Close button for the search bar -->
    <div id="searchClose">Close</div>
  </div>
</div>
