<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Developers</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 0;
      }
      .developer {
        display: flex;
        margin-bottom: 20px;
      }
      .developer:nth-child(even) .developer-info {
        order: -1;
      }
      .developer-image {
        flex: 1;
        padding: 0 20px;
      }
      .developer-info {
        flex: 1;
        padding: 0 20px;
      }
      .developer-image img {
        max-width: 100%;
        height: auto;
      }
      h2 {
        margin-top: 0;
      }
      p {
        margin: 0;
      }
      .first-line-indent {
        text-indent: 25px;
      }
    </style>
  </head>
  <body>
    <div class="developer">
      <div class="developer-image">
        <img src="/img/Jon-About.png" alt="Developer 1" />
      </div>
      <div class="developer-info">
        <h2>Lead Developer, Nerdacus</h2>
        <p class="first-line-indent">
          I am an aspiring database administrator, just like how I aspire to become the greatest hero! Even though our project wasn't completed as we hoped, I still had an amazing time working alongside my friends. This marks the end of my journey with SELU projects, but it was an experience filled with learning and growth, just like my journey to
          becoming a pro hero!
        </p>
      </div>
    </div>
    <div class="developer">
      <div class="developer-info">
        <h2>King of Twilight, Bruce</h2>
        <p class="first-line-indent">
          As a software developer diving into the turbulent seas of blogosphere creation, I navigate the treacherous currents of HTML, CSS, and JavaScript like a fearless pirate with a keyboard for a cutlass. Armed with an arsenal of programming puns and debugging potions, I embark on a quest to conquer the vast expanse of the internet, one witty blog post at a time. With each line of code, I weave tales of triumph and tragedy, transforming caffeine into code and memes into masterpieces. Beware, for I am the swashbuckling scribe of the digital realm, turning bugs into features and errors into epic anecdotes. So raise the anchor, hoist the CSS sails, and brace yourself for a bloggy adventure like no other!</p>
      </div>
      <div class="developer-image">
        <img src="/img/Bruce-About.png" alt="Developer 2" />
      </div>
    </div>
    <div class="developer">
      <div class="developer-image">
        <img src="/img/Holden-About.png" alt="Developer 3" />
      </div>
      <div class="developer-info">
        <h2>Developer 3</h2>
        <p class="first-line-indent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed lorem libero. Vestibulum ac turpis eget justo suscipit feugiat.</p>
      </div>
    </div>
    <div class="developer">
      <div class="developer-info">
        <h2>Princess of Destruction, Mike</h2>
        <p class="first-line-indent">
          In the kingdom of digital chaos, Mike reigns as the Princess of Destruction. Though his title may deceive, Mike is a relentless software developer, his every keystroke a symphony of creation. Yet, his coding prowess is entwined with a carnal addiction to cookies, an obsession bordering on the sensual. Without the sinful sweetness of his
          beloved treats, Mike's fingers falter, his mind consumed by cravings that rival the most passionate desires. In the throes of coding ecstasy, he indulges, each bite a sensual journey that fuels his relentless pursuit of greatness amidst the swirling chaos of the digital realm.
        </p>
      </div>
      <div class="developer-image">
        <img src="/img/Mike-About.png" alt="Developer 4" />
      </div>
    </div>
  </body>
</html>
