<!-- Heading for the article -->
<h1><%= data.title %></h1>

<!-- Article content -->
<article class="article"><%= data.body %></article>
<br />
<!-- Article comments-->
<article class="article"><%= data.comments%></article>
